h1 {
  text-align: center;
}

body {
  background-color: aliceblue; 
  margin: 10px;
}


#resultPython {
  display: none;
}

#resultJavascript {
  display: none;
}

#resultC {
  display: none;
}

#result {
  display: none;
}

      