h1 {
  text-align: center;
}

body {
  background-color: aliceblue; 
  margin: 10px;
}

.grid-container {
  display: inline-grid;
}

.btn {
  align: center;
}

#resultPython {
  display: none;
}

#resultJavascript {
  display: none;
}

#resultC {
  display: none;
}

#result {
  display: none;
}

      